* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #101216;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: all 0.3s ease-in-out;
  padding: 0 2rem;

  position: absolute; /* Default state */
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar.scrolled {
  position: fixed;
  background: rgba(16, 18, 22, 0.9);
  backdrop-filter: blur(5px); /* Slight blur effect */
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgb(68, 71, 70);
}

.nav-menu {
  font-size: 14px;
  color: rgb(238, 238, 238);
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin-right: 8rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-menu li:hover {
  cursor: pointer;
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 4.5rem;
}

/* HERO SECTON */

.hero-container {
  width: 90vw;
  height: 90vh;
  margin: 6rem auto 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-container img {
  width: 35%;
  border-radius: 8%;
  height: 90%;
}

.bio {
  width: 48%;
  gap: 0.8rem;
  height: auto;
  padding: 0 3rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio p {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(173, 181, 189);
}

.bio h4 {
  font-size: 25px;
  font-weight: 500;
}

.bio h1 {
  font-size: 62px;
  font-weight: 600;
}

/* PORTFOLIO SECTION */

.portfolio-container {
  width: 90vw;
  height: 90vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
}

.portfolio-container h2 {
  color: rgb(242, 204, 143);
  font-size: 29px;
  font-weight: 400;
  text-transform: uppercase;
}

.films {
  width: 100%;
  height: 87%;
  display: flex;
  margin: 0 auto;
}

.li-main {
  width: 100%;
  height: 100%;
}

.film-li {
  background-color: white;
  width: 40%;
  height: 100%;
}

.li-header {
  background-color: rgb(244, 195, 59);
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: bold;
}

.li-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  width: 94%;
  margin: 1rem auto;
  padding-left: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.li-item:hover {
  color: #b27f2a;
  background-color: #f1f2f3;
}

.li-item img {
  width: 6.5rem;
  height: 4rem;
}

/* FILMOGRAPHY SECTION */

.filmography-container {
  width: 90vw;
  height: auto;
  margin: 6rem auto;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me {
  height: 100%;
  width: 40%;
  color: white;
}

.about-me h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 1rem auto;
}

.about-me p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(173, 181, 189);
}

.skills {
  color: white;
}

.about-me li,
.filmo-skills li,
.education-container li {
  list-style: square;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(242, 204, 143);
  font-size: 1.3rem;
  margin: 1.5rem auto;
}

.about-me li span,
.filmo-skills li span,
.education-container li span {
  color: white;
}

.about-me li span,
.filmography li span {
  letter-spacing: 2px;
  font-weight: 600;
}

.filmo-skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filmography {
  height: auto;
  margin-bottom: 2.5rem;
  width: 100%;
}

.card img {
  height: 55%;
  width: 55%;
}

.card {
  width: 92%;
  height: auto;
  background-color: darkgrey;
  margin: 1rem 0;
  background-color: rgb(16, 18, 22);
  border: 2px solid rgb(68, 71, 70);
  border-radius: 8px;
  color: rgb(173, 181, 189);
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.card-icon {
  width: 3rem;
  height: 3rem;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content span {
  font-size: 12px;
}

.card-content h2 {
  color: white;
  font-size: 20px;
  margin: 5px 0;
}

.card-content h4 {
  font-weight: bold;
  margin: 5px 0;
}

.card-content p {
  margin: 5px 0;
}

.skills div {
  margin: 0.5rem 0 1rem 0;
}

.background-bar {
  background-color: #36383c;
  width: 100%;
  height: 0.3rem;
  margin: 0.2rem 0;
}

.foreground-bar-adapt {
  background-color: #fff;
  width: 75%;
  height: 100%;
}

.foreground-bar-crea {
  background-color: #fff;
  width: 90%;
  height: 100%;
}
.foreground-bar-lead {
  background-color: #fff;
  width: 80%;
  height: 100%;
}

.foreground-bar-coll {
  background-color: #fff;
  width: 88%;
  height: 100%;
}

.foreground-bar-comm {
  background-color: #fff;
  width: 80%;
  height: 100%;
}

/* Education Sec */

.education-container {
  width: 90vw;
  height: auto;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
}

.education-container h2 {
  margin: 0.4rem 0 1rem 0;
}

.education-container .card {
  width: 97%;
  margin: 2rem 0 0 0;
  height: auto;
}

.education-container li {
  margin: auto 0;
}

/* Roles Sec */

.roles-container {
  width: 90vw;
  height: auto;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
}

.roles-container h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.roles-header {
  margin: 0 auto;
}

.underline {
  width: 3.5rem;
  height: 56%;
  border: 3px solid rgb(242, 204, 143);
}

.roles {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.roles h3 {
  color: white;
  font-size: 1.3rem;
  margin: 1rem 0 0 0;
}

.role-card {
  background-color: rgb(22, 23, 27);
  border: 2px solid rgb(68, 71, 70);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  height: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.icon-holder {
  background-color: rgb(242, 204, 143);
  border-radius: 10px;
  font-size: 35px;
  height: 70px;
  width: 70px;
  z-index: 100;
}

.cam-assis-icon {
  color: black;
}

.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roles img {
  height: 50%;
  width: 50%;
}

/* Contact Container */

.contact-background {
  width: 100%;
  height: 110vh;
  background-color: #16171b;
  align-items: center;
  display: flex;
}

.contact-container {
  width: 90vw;
  height: auto;
  margin: 6rem auto;
  display: flex;
  gap: 1.8rem;
}

.intouch-card {
  color: white;
  width: 40%;
}

.intouch-card,
.footer-container span {
  color: rgb(173, 181, 189);
}

.intouch-card h2 {
  margin-bottom: 2px;
}

.intouch-card h3 {
  font-size: 1.8rem;
}

.intouch-icon {
  width: 4rem;
  height: 4rem;
  background-color: #101216;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intouch-icon img {
  width: 40%;
  height: 40%;
}

.intouch-details {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: 90%;
  margin: 1.2rem 0;
}

.form {
  padding: 1rem 1.2rem;
  letter-spacing: 0.0625rem;
  font-size: 0.8rem;
  font-weight: 400;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.625rem;
  color: rgb(135, 142, 153);
  background-color: rgb(16, 18, 22);
  border: 2px solid #444746;
  margin: auto;
}

.form input,
.form textarea {
  border: 1px solid rgb(68, 71, 70);
  background-color: transparent;
  color: white;
  border-radius: 8px;
  min-height: 50px;
  width: 97%;
  margin: 1rem 0;
  outline: none;
  padding: 0 0.5rem;
}

.form textarea {
  resize: none;
  min-height: 8rem;
  padding-top: 0.7rem;
}

.form button {
  height: 2rem;
  border-radius: 0.375rem;
  border: none;
  width: auto;
  color: rgb(16, 18, 22);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9375rem 2.1875rem;
  max-width: 100%;
  background-color: rgb(242, 204, 143);
}

.form button:hover {
  background-color: transparent;
  border: 2px solid rgb(242, 204, 143);
  color: rgb(242, 204, 143);
}

#name-number {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98%;
  gap: 2rem;
  margin: 0;
}

/* Footer */

.footer-container {
  height: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}

.footer-logo {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

/* Responsiveness */

@media (max-width: 1100px) {
  .bio h1 {
    font-size: 56px;
  }

  .hero-container img {
    height: 70vh;
  }
}

@media (max-width: 992px) {
  .nav-menu {
    /* margin-right: 2rem; */
    margin-right: 12%;
    gap: 6%;
  }

  .logo {
    margin: 0 15%;
    width: 5rem;
    height: 5rem;
  }

  .hero-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .hero-container img {
    width: 70%;
    height: 95vh;
  }

  .bio {
    width: 70%;
  }

  .bio h1 {
    font-size: 55px;
    font-weight: 400;
  }

  .portfolio-container {
    padding: 1rem;
    height: 80%;
  }

  .films {
    width: 100%;
    height: 100%;
  }

  .films a {
    width: 60%;
    height: 100%;
  }

  .film-li {
    height: 100%;
  }

  .film-li a {
    height: 50%;
    width: 90%;
  }

  .li-item img {
    width: 35%;
    height: 5%;
  }

  .filmography-container {
    flex-direction: column;
  }

  .about-me {
    width: 80%;
  }

  .about-me p {
    line-height: 22px;
  }

  .filmo-skills {
    width: 80%;
  }

  .filmography {
    width: auto;
  }
}

@media (max-width: 800px) {
  .logo {
    margin: 0 6%;
    width: 4.5rem;
    height: 4.5rem;
  }
  .nav-menu {
    display: none;
  }
  .portfolio-container {
    margin: 4rem auto;
  }
  .roles {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .about-me,
  .filmo-skills {
    width: 100%;
  }

  .contact-background {
    height: auto;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    margin: 4rem auto;
  }

  .intouch-card {
    width: 100%;
  }

  .form {
    width: 94%;
  }
}

@media (max-width: 600px) {
  .bio {
    width: 88%;
    padding: 0 1rem;
  }
  .bio h1 {
    font-size: 44px;
    width: 100%;
  }

  .hero-container img {
    width: 90%;
    height: 75vh;
  }

  .films {
    height: 65%;
    padding: 0;
    flex-direction: column;
  }

  .films a {
    width: 100%;
    height: 100%;
  }

  .film-li {
    width: 100%;
    height: 50%;
  }

  .li-main {
    height: 50%;
  }

  .li-item {
    width: 100%;
    height: 30%;
    padding: 0;
  }

  .li-item img {
    width: 5.5rem;
    height: 4rem;
  }

  .filmography-container,
  .portfolio-container,
  .hero-container {
    margin: 0.5rem auto;
    height: auto;
  }

  .card-content h2 {
    font-size: 16px;
  }

  .hero-container,
  .portfolio-container {
    width: 95%;
    padding: 0;
  }
}

@media (max-width: 412px) {
  .navbar {
    width: 100vw;
    margin: 0 0 1rem 0;
  }

  .logo {
    margin: 0 3%;
  }

  .hero-container,
  .portfolio-container,
  .filmography-container {
    width: 99vw;
    padding: 0 0.25rem;
  }

  .filmography-container,
  .portfolio-container,
  .hero-container {
    margin: 2rem auto;
    height: auto;
  }

  .hero-container {
    margin: 0 0 1rem 0;
  }

  .hero-container img {
    width: 100%;
    height: 50vh;
  }

  .bio {
    padding: 0;
    width: 100%;
  }

  .bio p {
    line-height: 2.2rem;
    font-size: 1.1rem;
    width: 98%;
    margin: 0 auto;
  }

  .about-me p {
    line-height: 2.2rem;
    font-size: 1.1rem;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    width: 80%;
    margin: 1rem auto;
    gap: 1rem;
    padding: 0.25rem;
    line-height: 1.2rem;
  }

  .education-container {
    width: 97%;
  }

  .card-icon {
    width: 4rem;
    height: 4rem;
  }
  .card img {
    height: 60%;
    width: 60%;
  }

  .card-content h2 {
    font-size: 12px;
    font-weight: 600;
    width: 80%;
  }

  .roles {
    margin: 1rem;
  }

  .roles h3 {
    font-size: 1rem;
  }

  .role-card {
    height: 180px;
  }

  .skills {
    width: 98%;
    margin: 0 auto;
  }

  .filmography .card {
    width: 97%;
  }
}
